
@import '../vars';

.whiteBckgd {
  background-color: rgba(255, 255, 255, .65);
}

.nav {
  @extend %ms1;

  .borderBottom {
    border-bottom: 1px solid $gold;
  }

  ul {
    overflow: auto;

    li {
      height: 76px;
      line-height: 76px;
      padding: 0 32px;
      float: right;
      a {
        color: white;
      }
    }
  }
}