
@import '../vars';

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.nav {
  position: relative;
  border-bottom: 1px solid $gold;
  @extend %ms1;

  &.shouldBeWhite {
    border-bottom: none;

    ul li {
      color: white;

      a {
        border-color: white;
        color: white;

        &:hover {
          color: darken(white, 15%);
          border-color: darken(white, 15%);
        }
      }
    }
  }

  .shadow {
    position: absolute;
    right: -284px;
    top: -34px;
  }

  ul {
    position: relative;
    overflow: auto;

    li {
      height: 76px;
      line-height: 76px;
      padding: 0 32px;
      float: right;
    }
  }
}