
@import '../vars';

:global {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-x: hidden;

    @extend %ms0;
  }

  a {
    color: $gold;
    text-decoration: none;
    transition: color 150ms ease;

    &:hover {
      color: lighten($gold, 8%);
    }
  }
  .link-lookalike {
    color: $gold;
  }

  /* TYPOGRAPHY */
  .ms0 { @extend %ms0; }
  .ms1 { @extend %ms1; }
  .ms2 { @extend %ms2; }
  .ms3 { @extend %ms3; }
  .ms4 { @extend %ms4; }
  .ms5 { @extend %ms5; }

  h1 { @extend %ms5; }
  h2 { @extend %ms4; }
  h3 { @extend %ms3; }
  h4 { @extend %ms2; }
  h5 { @extend %ms1; }

  /* MISCEALLANOUS */
  hr { border-top: 1px solid #ccc; border-bottom: none; }
}

.topPadding {
  padding-top: 110px;
}